<h3>My Profile Page</h3>

<%= @user.email %>

<p>Having Text user since <%= @user.created_at %></p>



<%= link_to 'Add New Contact', new_user_contact_path(@user), id: "new_contact_link", remote: true %>

<h5>Contacts</h5>
<div id="show_contacts">
  <%= render @contacts %>
</div>
